.staffBoard {
    
    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;
    
        .editButton, .deleteButton, .resetButton, .lockButton{
            padding: 2px 5px;
            border-radius: 5px;
            cursor: pointer;
        }
        .editButton {
            border: 1px dotted rgba(0, 0, 139, 0.5)
    
        }
        .deleteButton {
            border: 1px dotted rgba(255, 0, 0, 0.5)
        } 
        .resetButton{
            border: 1px dotted rgba(0, 128, 0, 0.5)
    
        } 
        .lockButton {
            border: 1px dotted rgba(255, 166, 0, 0.5)
    
        }
    }
}
